<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARGeometryAndTopology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>223C284920B5D21F00829BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223C285F20B5D22200829BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223C286A20B5D22200829BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
